<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!--mobiiliovaade -->
       <title>I-Smith</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css"><!--lisatud stiililehed -->
        <link rel="stylesheet" type="text/css" media="screen" href="/css/header.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/footer.css"><!--lisatud header ja footer eraldi -->


    </head>
    <body>
      {{ include('_header.html.twig') }}
      <!--lisatud header osa -->

        <div class="content"></div>
       {{ include('_footer.html.twig') }}
        <!--lisatud footer osa -->


    </body>
</html>
